<h1>Site#Desserts</h1>
<p>Find me in app/views/site/Desserts.html.erb</p>

<head>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
<header>
	<h1></h1>
	<nav align="center">
		<a href="/index.html">Home</a> |
		<a href="/HTML/entree.html">Entree</a> |
		<a href="/HTML/mains.html">Main Courses</a> |
		<a href="/HTML/desserts.html"><u>Desserts</u></a> |
		<a href="/HTML/signup.html">Sign Up</a> |
		<a href="/HTML/references.html">References</a>
	</nav>
</header>

<main>
	<div class="square" align="center">
		<a href="https://www.philly.com.au/recipe/baked-lemon-meringue-cheesecakes/">
			<img src="/IMAGES/Desserts3.jpg" alt="dishmonth1" style="position: relative;width:230px;height:151px;border:solid 2px;top:3px;left:50px; margin-left: 10px">
		</a>
		<span id="month"> Baked Lemon Meringue Cheesecakes. </span>
		<span id="fom" style="right: 280px;"> Perfect for the summer and festive season. </span>
	</div>

	<div class="back"></div>

	<div class="box" id="box1">
		<a href="https://www.philly.com.au/recipe/milk-chocolate-cheesecake-crunchy-hazelnut-swirl/">
			<img src="/IMAGES/Desserts4.jpg" alt="Entree1" style="width:225px;height:150px;border:solid 1px">
		</a>
		<span class="dish">	Milk Chocolate Cheesecake </span>
		<span class="description"> This cheesecake is perfect with its crunchy hazelnut swirl. </span>
	</div>

	<div class="box" id="box2">
		<a href="http://www.cookinglight.com/food/top-rated-recipes/best-dessert-recipes/lemon-scented-blueberry-cupcakes-recipe_2">
			<img src="/IMAGES/Desserts5.jpg" alt="Main1" style="width:225px;height:150px;border:solid 1px">
		</a>
		<span class="dish"> Lemon Blueberry Cupcakes. </span>
		<span class="description"> Studded with plump. juicy fresh berries, these cupcakes are fun for special occasions. </span>
	</div>

	<div class="box" id="box3">
		<a href="http://www.taste.com.au/recipes/27294/mini+choc+caramel+dessert+cakes">
			<img src="/IMAGES/Desserts1.jpg" alt="Desserts1" style="width:225px;height:150px;border:solid 1px">
		</a>
		<span class="dish"> Mini choc-caramel dessert cakes. </span>
		<span class="description"> If you're short on time but big on flavour, this choc-caramel dessert is for you. </span>
	</div>

	<div class="box" id="box4">
		<a href="http://www.cookinglight.com/food/top-rated-recipes/best-dessert-recipes/classic-fudge-walnut-brownies-recipe">
			<img src="/IMAGES/Desserts6.jpg" alt="Main2" style="width:225px;height:150px;border:solid 1px">
		</a>
		<span class="dish"> Fudge-Walnut Brownies. </span>
		<span class="description"> Large chocolate chunks create big, luxurious pockets of melty chocolate in the brownies. </span>
	</div>

	<div class="box" id="box5">
		<a href="http://www.cookinglight.com/food/top-rated-recipes/best-dessert-recipes/strawberry-almond-cream-tart-recipe">
			<img src="/IMAGES/Desserts7.jpg" alt="Entree2" style="width:225px;height:150px;border:solid 1px">
		</a>
		<span class="dish"> Strawberry-Almond Tart. </span>
		<span class="description"> Nestled in a creamy filling and crumbly graham cracker crust. </span>
	</div>

	<div class="box" id="box6">
		<a href="http://www.taste.com.au/recipes/5841/chocolate+truffle+dessert">
			<img src="/IMAGES/Desserts2.jpg" alt="Desserts2" style="width:225px;height:150px;border:solid 1px">
		</a>
		<span class="dish"> Chocolate truffle dessert. </span>
		<span class="description"> So easy and so delicious - this dessert is a winner in every way. </span>
	</div>
</main>

<footer>
	<p class="footertext">
		Made by James Renner (20365143), Lachlan Drysdale (21355384), Laura Cushion ()
		<a href="http://validator.w3.org/check?uri=referer" class="validicon">
			<img src="http://www.w3.org/Icons/valid-html5-blue" alt="Valid HTML 5" height="31" width="88"/>
		</a>
		<a href="http://jigsaw.w3.org/css-validator/check/referer" class="validicon">
			 <img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS" />
		</a>
	</p>
</footer>
</body>
