<h1>Site#Entree</h1>
<p>Find me in app/views/site/Entree.html.erb</p>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Title</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<!--[if lt IE 9]>
		<script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
		<style type="text/css"> #wrapper { height:100%; } </style>
	<![endif]-->
</head>

<body>
<header>
	<h1></h1>
	<nav align="center">
		<a href="/index.html">Home</a> |
		<a href="/HTML/entree.html"><u>Entree</u></a> |
		<a href="/HTML/mains.html">Main Courses</a> |
		<a href="/HTML/desserts.html">Desserts</a> |
		<a href="/HTML/signup.html">Sign Up</a> |
		<a href="/HTML/references.html">References</a>
	</nav>
</header>

<main>
	<div class="square" align="center">
		<a href="http://www.homelife.com.au/recipe/tuna+sushi,5368">
			<img src="/IMAGES/Entree3.jpg" alt="dishmonth1" style="position: relative;width:230px;height:151px;border:solid 2px;top:3px;left:50px; margin-left: 10px">
		</a>
		<span id="month"> Tuna sushi </span>
		<span id="fom" style="right:15px"> Fresh, flavoursome and healthy, nigiri-zushi is a classic. </span>
	</div>

	<div class="back"></div>

	<div class="box" id="box1">
		<a href="http://www.homelife.com.au/recipe/crab+cakes,22621">
			<img src="/IMAGES/Entree4.jpg" alt="Entree4" style="width:225px;height:150px;border:solid 1px">
		</a>
		<span class="dish"> Crab Cakes. </span>
		<span class="description"> Learn how to make these delicious crab cakes in a few easy steps! </span>
	</div>

	<div class="box" id="box2">
		<a href="http://www.homelife.com.au/recipe/fig+apple+and+fennel+salad+with+hazelnut+dressing,4171">
			<img src="/IMAGES/Entree5.jpg" alt="Main1" style="width:225px;height:150px;border:solid 1px">
		</a>
		<span class="dish"> Fig, apple and fennel salad. </span>
		<span class="description"> Enjoy this refreshing &amp; fruit bursting salad as a light meal or side salad. </span>
	</div>

	<div class="box" id="box3">
		<a href="http://www.homelife.com.au/recipe/barbecued+duck+salad,6211">
			<img src="/IMAGES/Entree6.jpg" alt="Entree6" style="width:225px;height:150px;border:solid 1px">
		</a>
		<span class="dish"> Barbecued duck salad. </span>
		<span class="description">	Try this fragrant Asian-inspired duck salad. </span>
	</div>

	<div class="box" id="box4">
		<a href="http://www.homelife.com.au/recipe/prawn+rice+paper+rolls,4789">
			<img src="/IMAGES/Entree7.jpg" alt="Main2" style="width:225px;height:150px;border:solid 1px">
		</a>
		<span class="dish"> Prawn rice paper rolls. </span>
		<span class="description"> These delicious prawn-filled rice paper rolls are low fat, fresh and healthy. </span>
	</div>

	<div class="box" id="box5">
		<a href="http://www.taste.com.au/recipes/27965/prawn+cocktails">
			<img src="/IMAGES/Entree2.jpg" alt="Entree2" style="width:225px;height:150px;border:solid 1px">
		</a>
		<span class="dish"> Prawn cocktails. </span>
		<span class="description"> Reminisce classic dinner party dishes with these crowd-pleasing prawn cocktails. </span>
	</div>

	<div class="box" id="box6">
		<a href="http://www.homelife.com.au/recipe/pot+sticker+dumplings,17655">
			<img src="/IMAGES/Entree8.jpg" alt="Desserts2" style="width:225px;height:150px;border:solid 1px">
		</a>
		<span class="dish"> Pot sticker dumplings. </span>
		<span class="description"> Be inspired by the garden-to-plate food culture with this delicious dishe. </span>
	</div>
</main>

<footer>
	<p class="footertext">
		Made by James Renner (20365143), Lachlan Drysdale (21355384), Laura Cushion ()
		<a href="http://validator.w3.org/check?uri=referer" class="validicon">
			<img src="http://www.w3.org/Icons/valid-html5-blue" alt="Valid HTML 5" height="31" width="88"/>
		</a>
		<a href="http://jigsaw.w3.org/css-validator/check/referer" class="validicon">
			 <img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS" />
		</a>
	</p>
</footer>
</body>
