<!DOCTYPE html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Title</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<!--[if lt IE 9]>
		<script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
		<style type="text/css"> #wrapper { height:100%; } </style>
	<![endif]-->
</head>

<body>
<header>
	<div>
	</div>
	<h1></h1>
	<nav align="center">
		<a href="/index.html"><u>Home</u></a> |
		<a href="/HTML/entree.html">Entree</a> |
		<a href="/HTML/mains.html">Main Courses</a> |
		<a href="/HTML/desserts.html">Desserts</a> |
		<a href="/HTML/signup.html">Sign Up</a> |
		<a href="/HTML/references.html">References</a>
	</nav>
</header>

<main>
	<div class="square" align="center">
		<a href="http://www.taste.com.au/recipes/35110/charred+chipotle+tofu+with+mung+bean+salsa">
			<img src="IMAGES/dishmonth1.jpg" alt="dishmonth1" style="position: relative;width:230px;height:151px;border:solid 2px;top:3px;left:50px; margin-left: 10px">
		</a>
		<span id="month">Charred chipotle tofu with mung bean salsa.</span>
		<span id="fom"> Spice up tofu with this Mexican-inspired recipe. </span>
	</div>

	<div class="back"></div>

	<div class="box" id="box1">
		<a href="http://www.taste.com.au/recipes/24580/baked+garlic+and+thyme+brie">
			<img src="IMAGES/Entree1.jpg" alt="Entree1" style="width:225px;height:150px;border:solid 1px">
		</a>
		<span class="dish"> Baked garlic and thyme brie. </span>
		<span class="description"> Heating it just to melting point is a great way to enjoy this cheese - it's instant fondue in a box. </span>
	</div>
 
	<div class="box" id="box2">
		<a href="http://www.taste.com.au/recipes/25799/salmon+with+white+bean+mash?ref=collections,main-recipes">
			<img src="IMAGES/Main1.jpg" alt="Main1" style="width:225px;height:150px;border:solid 1px">
		</a>
		<span class="dish">Salmon with white bean mash. </span>
		<span class="description"> Make a habit of eating more fresh fish - your heart and brain will thank you. </span>
	</div>

	<div class="box" id="box3">
		<a href="http://www.taste.com.au/recipes/27294/mini+choc+caramel+dessert+cakes">
			<img src="IMAGES/Desserts1.jpg" alt="Desserts1" style="width:225px;height:150px;border:solid 1px">
		</a>
		<span class="dish"> Mini choc-caramel dessert cakes. </span>
		<span class="description"> If you're short on time but big on flavour, this choc-caramel dessert is for you. </span>
	</div>

	<div class="box" id="box4">
		<a href="http://www.taste.com.au/recipes/36342/turkey+tacos">
			<img src="IMAGES/Main2.jpg" alt="Main2" style="width:225px;height:150px;border:solid 1px">
		</a>
		<span class="dish"> Turkey tacos. </span>
		<span class="description"> Make your tacos extra tasty with turkey as the main ingredient. </span>
	</div>

	<div class="box" id="box5">
		<a href="http://www.taste.com.au/recipes/27965/prawn+cocktails">
			<img src="IMAGES/Entree2.jpg" alt="Entree2" style="width:225px;height:150px;border:solid 1px">
		</a>
		<span class="dish"> Prawn cocktails. </span>
		<span class="description"> Reminisce classic dinner party dishes with these crowd-pleasing prawn cocktails. </span>
	</div>

	<div class="box" id="box6">
		<a href="http://www.taste.com.au/recipes/5841/chocolate+truffle+dessert">
			<img src="IMAGES/Desserts2.jpg" alt="Desserts2" style="width:225px;height:150px;border:solid 1px">
		</a>
		<span class="dish"> Chocolate truffle dessert. </span>
		<span class="description"> So easy and so delicious - this dessert is a winner in every way. </span>
	</div>
</main>

<footer>
	<p class="footertext">
		Made by James Renner (20365143), Lachlan Drysdale (21355384), Laura Cushion ()
		<a href="http://validator.w3.org/check?uri=referer" class="validicon">
			<img src="http://www.w3.org/Icons/valid-html5-blue" alt="Valid HTML 5" height="31" width="88"/>
		</a>
		<a href="http://jigsaw.w3.org/css-validator/check/referer" class="validicon">
			 <img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS" />
		</a>
	</p>
</footer>
</body>
</html>
