<h1>Site#Mains</h1>
<p>Find me in app/views/site/Mains.html.erb</p>

<body>
<header>
	<h1></h1>
	<nav align="center">
		<a href="/index.html">Home</a> |
		<a href="/HTML/entree.html">Entree</a> |
		<a href="/HTML/mains.html"><u>Main Courses</u></a> |
		<a href="/HTML/desserts.html">Desserts</a> |
		<a href="/HTML/signup.html">Sign Up</a> |
		<a href="/HTML/references.html">References</a>
	</nav>
</header>

<main>
	<div class="square" align="center">
		<a href="http://www.simplyrecipes.com/recipes/coriander_chicken_cilantro_and_chard_stew/">
			<img src="/IMAGES/Main3.jpg" alt="dishmonth1" style="position: relative;width:230px;height:151px;border:solid 2px;top:3px;left:50px; margin-left: 10px">
		</a>
		<span id="month"> Coriander Chicken, Cilantro, and Chard Stew. </span>
		<span id="fom"> A Middle Eastern inspired chicken stew. </span>
	</div>

	<div class="back"></div>

	<div class="box" id="box1">
		<a href="http://www.simplyrecipes.com/recipes/apple_and_sausage_pie/">
			<img src="/IMAGES/Main4.jpg" alt="Main4" style="width:225px;height:150px;border:solid 1px">
		</a>
		<span class="dish"> Apple and Sausage Pie. </span>
		<span class="description"> A perfect casserole for apple season, granny smith apples baked with sweet italian sausage. </span>
	</div>

	<div class="box" id="box2">
		<a href=http://www.simplyrecipes.com/recipes/apple_cranberry_stuffed_pork_roast/>
			<img src="/IMAGES/Main5.jpg" alt="Main1" style="width:225px;height:150px;border:solid 1px">
		</a>
		<span class="dish"> Apple Cranberry Stuffed Pork Roast. </span>
		<span class="description"> Tender pork roast recipe, stuffed in pinwheel fashion with apple cranberry chutney filling. </span>
	</div>

	<div class="box" id="box3">
		<a href="http://www.simplyrecipes.com/recipes/bacon_wrapped_pork_roast/">
			<img src="/IMAGES/Main6.jpg" alt="Main6" style="width:225px;height:150px;border:solid 1px">
		</a>
		<span class="dish"> Bacon-wrapped Pork Roast. </span>>
		<span class="description"> Wrapping the pork roast in bacon brings extra juciness and flavor to the roast. </span>
	</div>

	<div class="box" id="box4">
		<a href="http://www.taste.com.au/recipes/36342/turkey+tacos">
			<img src="/IMAGES/Main2.jpg" alt="Main2" style="width:225px;height:150px;border:solid 1px">
		</a>
		<span class="dish"> Turkey tacos. </span>
		<span class="description"> Make your tacos extra tasty with turkey as the main ingredient. </span>
	</div>

	<div class="box" id="box5">
		<a href="http://www.simplyrecipes.com/recipes/baked_scallops/">
			<img src="/IMAGES/Main7.jpg" alt="Entree2" style="width:225px;height:150px;border:solid 1px">
		</a>
		<span class="dish"> Baked Scallops. </span>
		<span class="description"> Scallops baked in a white sauce butter, white wine, and flour, topped with bread crumbs. </span>
	</div>

	<div class="box" id="box6">
		<a href="http://www.simplyrecipes.com/recipes/baked_spaghetti/">
			<img src="/IMAGES/Main8.jpg" alt="Main8" style="width:225px;height:150px;border:solid 1px">
		</a>
		<span class="dish"> Baked Spaghetti. </span>
		<span class="description"> Thin spaghetti pasta, sausage, mushroom, and tomato sauce, ricotta, Parmesan, and Mozzarella cheeses. </span>
	</div>
</main>

<footer>
	<p class="footertext">
		Made by James Renner (20365143), Lachlan Drysdale (21355384), Laura Cushion ()
		<a href="http://validator.w3.org/check?uri=referer" class="validicon">
			<img src="http://www.w3.org/Icons/valid-html5-blue" alt="Valid HTML 5" height="31" width="88"/>
		</a>
		<a href="http://jigsaw.w3.org/css-validator/check/referer" class="validicon">
			 <img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS" />
		</a>
	</p>
</footer>
</body>

